<p>{{#link-to 'users' }}back{{/link-to}} to Users</p>
<p>First Name: {{model.firstName}}</p>
<p>Last Name: {{model.lastName}}</p>
<p>Address: {{model.address}}</p>
<p>Zip: {{model.zip}}</p>
<p>Country: {{model.country}}</p>
